/* Define a fonte e o background para modo escuro */
body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* Define o estilo do menu para modo escuro */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  padding: 15px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 15px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.menu a:hover {
  color: #4CAF50;
}

.menu a:nth-child(1) svg {
  fill: #ffffff;
}

.menu a:nth-child(2) svg {
  fill: #ffffff;
}

/* Define o estilo da foto para modo escuro */
.photo {
  text-align: center;
  margin: 20px 0;
}

.photo img {
  max-width: 100%;
  height: auto;
}

/* Define o estilo do título para modo escuro */
h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
}

/* Define o estilo da descrição para modo escuro */
.description {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  font-size: 24px;
  line-height: 1.5;
  text-shadow: 1px 1px #000000;
}

/* Define o estilo do rodapé para modo escuro */
footer {
  text-align: center;
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
  margin-top: auto;
}

footer p {
  margin: 0;
}

/* Define o estilo do conteúdo centralizado */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* Define estilos personalizados */
.logo {
  width: 150px;
  height: auto;
  margin-right: 10px;
}

.title {
  color: #ffffff;
  text-decoration: none;
}

.btn {
  background-color: #4CAF50;
  border: none;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #3e8e41;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 36px;
  }
  
  .description {
    font-size: 18px;
  }
  
  .menu a {
    font-size: 16px;
    margin-right: 10px;
  }
}
